  <header class="content ">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-center">Welcome to MartHub<i class="material-icons align-middle mb-2 icon-size">store_mall_directory</i></h1>
        <div class="text-white-50 mx-auto mt-4 mb-4 home">Addresses the problems of the consumer and enhances their shopping experience by assisting the customer to know the location of the products in MartHub <i class="material-icons align-middle mb-2">store_mall_directory</i> store.</div>
        <a class="btn btn-color "  routerLink="/signup">Register to Continue</a>
      </div>
    </div>
  </header>
