<div class="content container d-flex justify-content-center">

  <div class="container-fluid-coustom " *ngIf="forgotId">
    <form [formGroup]="forgotIdForm" class="text-center card d-flex card-margin card-body shadow-lg bg-transparant">
        <h4 class="text-danger text-center mb-5">Forgot User ID</h4>
        <span class="alert alert-danger " *ngIf="invalidContactNumber == true">Invalid contact number.Try again...</span>
        <div class="form-group col-lg-12 col-md-12 mb-2 mt-1" >
            <label class="mr-3" for="contact-number">Enter your Contact Number <span class="text-danger"> *</span></label>
            <input type="text" [ngClass]="[(forgotIdForm.controls.contactNumber.dirty || forgotIdForm.controls.contactNumber.touched) && forgotIdForm.controls.contactNumber.valid ? 'is-valid' : '',
            (forgotIdForm.controls.contactNumber.dirty || forgotIdForm.controls.contactNumber.touched) && forgotIdForm.controls.contactNumber.invalid ? 'is-invalid' : '', 
            (forgotIdForm.controls.contactNumber.valid || forgotIdForm.controls.contactNumber.invalid) ? 'form-control' : '']" id="contact-number"
              formControlName="contactNumber" placeholder="Enter your Contact Number">
            <div
              *ngIf="!forgotIdForm.controls.contactNumber.valid && (forgotIdForm.controls.contactNumber.dirty || forgotIdForm.controls.contactNumber.touched)"
              class="text-danger">
              <small *ngIf="forgotIdForm.controls.contactNumber.errors.required">
                Contact Number is required
              </small>
              <small *ngIf="forgotIdForm.controls.contactNumber.invalid && !forgotIdForm.controls.contactNumber.errors.required">
                  Contact Number is invalid
               </small>
            </div>
            <div class="text-danger"><small
                *ngIf="forgotIdForm.controls.contactNumber.valid || !(forgotIdForm.controls.contactNumber.dirty || forgotIdForm.controls.contactNumber.touched)"><br></small>
            </div>
        </div>

        <div class="d-flex justify-content-center form-row">
            <button type="submit" class="btn btn-color" (click)="getDetailsByContactNumber()" [disabled]="!forgotIdForm.valid || invalid">Get User id</button>
         </div>

        <div *ngIf="this.user != null" class="mt-3">
            <h5 class=" justify-content-center">Your User id : <span class="text-success">{{user.userId}}</span></h5> <a class="text-danger justify-content-center" (click)="goToLogin()">click here to login</a>
        </div>
    </form>
  </div>


  <div  class="container-fluid-coustom " *ngIf="forgotPassword">
      <span class="badge btn-color" *ngIf="invalidUserID"><h6>Invalid User ID.Try again...</h6></span>
      <span class="badge btn-color" *ngIf="wrongAnswers"><h6>You have entered the wrong Answer(s)</h6></span>
      <form [formGroup]="forgotPasswordForm" class="text-center card d-flex card-margin card-body shadow-lg bg-transparant">
          <h4 class="text-danger text-center">Forgot Password</h4>
          <div class="form-group col-lg-12 col-md-12 my-4">
              <label for="userID">Enter your User ID<span class="text-danger">*</span></label>
              <input type="text" [ngClass]="[(forgotPasswordForm.controls.userID.dirty || forgotPasswordForm.controls.userID.touched) && forgotPasswordForm.controls.userID.valid ? 'is-valid' : '',
              (forgotPasswordForm.controls.userID.dirty || forgotPasswordForm.controls.userID.touched) && forgotPasswordForm.controls.userID.invalid ? 'is-invalid' : '', 
              (forgotPasswordForm.controls.userID.valid || forgotPasswordForm.controls.userID.invalid) ? 'form-control' : '']" id="userID"
                formControlName="userID" placeholder="Enter your User ID">
              <div
                *ngIf="!forgotPasswordForm.controls.userID.valid && (forgotPasswordForm.controls.userID.dirty || forgotPasswordForm.controls.userID.touched)"
                class="text-danger">
                <small *ngIf="forgotPasswordForm.controls.userID.errors.required">
                  User ID is required
                </small>
                <small *ngIf="forgotPasswordForm.controls.userID.invalid && !forgotPasswordForm.controls.userID.errors.required">
                    User ID is invalid
                 </small>
              </div>
              <div class="text-danger"><small
                  *ngIf="forgotPasswordForm.controls.userID.valid || !(forgotPasswordForm.controls.userID.dirty || forgotPasswordForm.controls.userID.touched)"><br></small>
              </div>
          </div>
  
          <div class="col-lg-12 col-md-12 d-flex justify-content-center">
              <button type="submit" class="btn btn-color" [disabled]="!forgotPasswordForm.controls.userID.valid" (click)=getDetailsByUserID()>Send</button>
           </div>
  
          <div *ngIf="gotQuestions" >
            <div class="d-flex justify-content-between my-4"> 
              <div class="form-group col-lg-4 col-md-12">
                  <label for="answer1">{{this.user.question1}}<span class="text-danger">*</span></label>
                  <input type="text" [ngClass]="[(forgotPasswordForm.controls.answer1?.dirty || forgotPasswordForm.controls.answer1?.touched) && forgotPasswordForm.controls.answer1?.valid ? 'is-valid' : '',
                  (forgotPasswordForm.controls.answer1?.dirty || forgotPasswordForm.controls.answer1?.touched) && forgotPasswordForm.controls.answer1?.invalid ? 'is-invalid' : '', 
                  (forgotPasswordForm.controls.answer1?.valid || forgotPasswordForm.controls.answer1?.invalid) ? 'form-control' : '']" id="answer1"
                    formControlName="answer1" 
                    placeholder="Enter the answer">
                  <div
                    *ngIf="!forgotPasswordForm.controls.answer1?.valid && (forgotPasswordForm.controls.answer1?.dirty || forgotPasswordForm.controls.answer1?.touched)"
                    class="text-danger">
                    <small *ngIf="forgotPasswordForm.controls.answer1?.errors.required">
                      Answer is required
                    </small>
                    <small *ngIf="forgotPasswordForm.controls.answer1?.invalid && !forgotPasswordForm.controls.answer1?.errors.required">
                        Answer is invalid
                     </small>
                  </div>
                  <div class="text-danger"><small
                      *ngIf="forgotPasswordForm.controls.answer1?.valid || !(forgotPasswordForm.controls.answer1?.dirty || forgotPasswordForm.controls.answer1?.touched)"><br></small>
                  </div>
              </div>

              <div class="form-group col-lg-4 col-md-12">
                  <label for="answer2">{{user.question2}}<span class="text-danger">*</span></label>
                  <input type="text" [ngClass]="[(forgotPasswordForm.controls.answer2.dirty || forgotPasswordForm.controls.answer2.touched) && forgotPasswordForm.controls.answer2.valid ? 'is-valid' : '',
                  (forgotPasswordForm.controls.answer2.dirty || forgotPasswordForm.controls.answer2.touched) && forgotPasswordForm.controls.answer2.invalid ? 'is-invalid' : '', 
                  (forgotPasswordForm.controls.answer2.valid || forgotPasswordForm.controls.answer2.invalid) ? 'form-control' : '']" id="answer2"
                    formControlName="answer2" placeholder="Enter the answer">
                  <div
                    *ngIf="!forgotPasswordForm.controls.answer2.valid && (forgotPasswordForm.controls.answer2.dirty || forgotPasswordForm.controls.answer2.touched)"
                    class="text-danger">
                    <small *ngIf="forgotPasswordForm.controls.answer2.errors.required">
                      Answer is required
                    </small>
                    <small *ngIf="forgotPasswordForm.controls.answer2.invalid && !forgotPasswordForm.controls.answer2.errors.required">
                        Answer is invalid
                     </small>
                  </div>
                  <div class="text-danger"><small
                      *ngIf="forgotPasswordForm.controls.answer2.valid || !(forgotPasswordForm.controls.answer2.dirty || forgotPasswordForm.controls.answer2.touched)"><br></small>
                  </div>
              </div>

              <div class="form-group col-lg-4 col-md-12">
                  <label for="answer3">{{user.question3}}<span class="text-danger">*</span></label>
                  <input type="text" [ngClass]="[(forgotPasswordForm.controls.answer3.dirty || forgotPasswordForm.controls.answer3.touched) && forgotPasswordForm.controls.answer3.valid ? 'is-valid' : '',
                  (forgotPasswordForm.controls.answer3.dirty || forgotPasswordForm.controls.answer3.touched) && forgotPasswordForm.controls.answer3.invalid ? 'is-invalid' : '', 
                  (forgotPasswordForm.controls.answer3.valid || forgotPasswordForm.controls.answer3.invalid) ? 'form-control' : '']" id="answer3"
                    formControlName="answer3" placeholder="Enter the answer">
                  <div
                    *ngIf="!forgotPasswordForm.controls.answer3.valid && (forgotPasswordForm.controls.answer3.dirty || forgotPasswordForm.controls.answer3.touched)"
                    class="text-danger">
                    <small *ngIf="forgotPasswordForm.controls.answer3.errors.required">
                      Answer is required
                    </small>
                    <small *ngIf="forgotPasswordForm.controls.answer3.invalid && !forgotPasswordForm.controls.answer3.errors.required">
                        Answer is invalid
                     </small>
                  </div>
                  <div class="text-danger"><small
                      *ngIf="forgotPasswordForm.controls.answer3.valid || !(forgotPasswordForm.controls.answer3.dirty || forgotPasswordForm.controls.answer3.touched)"><br></small>
                  </div>
              </div>
          </div>
              <div class="d-flex justify-content-center ">
                  <button type="submit" class="btn btn-color" (click)="verifyAnswers()" [disabled]="!forgotPasswordForm.valid || invalid">Verify</button>
               </div>

          </div>
      </form>
    </div>

    <div class="card p-3 mt-5 text-light" *ngIf="answersMatched">
        <h4 class="text-danger">Set Password</h4>
        <span class="badge btn-color" *ngIf="invalidContactNumber"><h6>Invalid contact number.Try again...</h6></span>
        <form [formGroup]="setPasswordForm" >
            <div class="form-group col-lg-12 col-md-12">
                <label for="password">Enter your new Password <span class="text-danger">*</span></label>
                <input type="text" [ngClass]="[(setPasswordForm.controls.password.dirty || setPasswordForm.controls.password.touched) && setPasswordForm.controls.password.valid ? 'is-valid' : '',
                (setPasswordForm.controls.password.dirty || setPasswordForm.controls.password.touched) && setPasswordForm.controls.password.invalid ? 'is-invalid' : '', 
                (setPasswordForm.controls.password.valid || setPasswordForm.controls.password.invalid) ? 'form-control' : '']" id="password"
                  formControlName="password" placeholder="Enter the new password">
                <div
                  *ngIf="!setPasswordForm.controls.password.valid && (setPasswordForm.controls.password.dirty || setPasswordForm.controls.password.touched)"
                  class="text-danger">
                  <small *ngIf="setPasswordForm.controls.password.errors.required">
                    Password is required
                  </small>
                  <small *ngIf="setPasswordForm.controls.password.invalid && !setPasswordForm.controls.password.errors.required">
                      Password is invalid
                   </small>
                </div>
                <div class="text-danger"><small
                    *ngIf="setPasswordForm.controls.password.valid || !(setPasswordForm.controls.password.dirty || setPasswordForm.controls.password.touched)"><br></small>
                </div>
            </div>
    
            <div class="d-flex justify-content-center form-row">
                <button type="submit" class="btn btn-danger" (click)="setPassword()" [disabled]="!setPasswordForm.valid || invalid">Submit</button>
             </div>
    
            <div *ngIf="passwordUpdated">
                <h2 class="text-success justify-content-center">Your have successfully changed the password </h2> <a class="text-danger justify-content-center" (click)="goToLogin()">click here to login</a>
            </div>
        </form>
      </div>


</div>